* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #242729;
  color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.header {
  padding: 2rem 0;
  background-color: #494f52;
}

.nav {
  justify-content: center;
  gap: 1rem;
}

.nav__btns {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #1a1216;
  color: #fff;
}

.nav__btns:hover {
  opacity: 0.75;
}

#content {
  background-color: #494f52;
  max-width: 60%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 0.25rem;
  gap: 2rem;
}

.content__list {
  list-style: none;
}

.content__about,
.content__hour,
.content__location {
  line-height: 2;
}
