* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #242729;
  color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.header {
  padding: 1rem 0;
  background-color: #494f52;
}

.nav__list {
  gap: 1rem;
  justify-content: center;
}

.nav__btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #1a1216;
  color: #fff;
}

.nav__btn:hover {
  opacity: 0.75;
}

.home-wrapper {
  padding: 2rem;
}

.home__title {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.home__text,
.home-image-wrapper {
  flex: 1;
}


.home__paragraph {
  line-height: 1.5;
}

.home-image-wrapper {
  height: 100%;
  flex-basis: 60%;
  text-align: right;
}

.home-image {
  max-height: 75vh;
}

.contact-wrapper {
  background-color: #494f52;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 0.25rem;
}

.nav__list,
.content__list {
  list-style: none;
}

.contact__about,
.contact__hour,
.contact__location {
  line-height: 2;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.card {
  gap: 1rem;
}

.card__image {
  text-align: center;
}

.card__title {
  margin-bottom: 1rem;
}

.menu-container {
  margin: 2rem 0;
  gap: 1rem;
}

.starters,
.main-course,
.drinks {
  gap: 1rem;
}
